In [1]:
##Without map function
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [2]:
##With map function
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [3]:
numbers1=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers1))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
num1=[1,2,3]
num2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,num1,num2))
print(added_numbers)

[5, 7, 9]

Map function to convert list of strings to integers

In [5]:
str_numbers=['1','2','3','4','5']
int_numbers=list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [6]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [7]:
def get_name(person):
    return person['name']

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33}
]
list(map(get_name,people))

['Krish', 'Jack']