1.for Loop
  
  -Iterating over a range
  
  -Iterating over a string

2.while Loop

3.Loop Control Statements
  
  -break
  
  -continue
  
  -pass

4.Nested Loops

5.Practical Examples and Common Errors

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):  #starts from zero does not print 5
    print(i)

0
1
2
3
4

In [3]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [4]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [6]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

STRINGS

In [7]:
str="Sharvari"
for i in str:
    print(i)

S
h
a
r
v
a
r
i

WHILE LOOP

In [8]:
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

BREAK STATEMENT: Exits the loop prematurely

In [9]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

CONTINUE STATEMENT: Continue skips the current iteration and continues with the next

In [10]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [11]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

PASS STATEMENT: null operation does nothing but is syntactically required

In [12]:
for i in range(5):
    if i==3:
        # empty block — Python will throw an IndentationError use pass instead

_IncompleteInputError: incomplete input (269835833.py, line 3)

In [13]:
for i in range(5):
    if i==3:
        pass #no error on execution

In [14]:
for i in range(5):
    if i==3:
        print("the number is: ",i)
        pass
    print(i)

0
1
2
the number is:  3
3
4

NESTED LOOPS

In [15]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

Calculate the sum of first N natural numbers using a while and for loop

In [16]:
n=10
sum=0
for i in range(11):
    sum=sum+i
print("Sum of n natural numbers using for loop is: ",sum)

Sum of n natural numbers using for loop is:  55

In [17]:
#while loop
n=10   
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

Printing prime numbers between 1 and 100

In [18]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97