 Assigning Variables

In [1]:
age=21
name="Student"
height=5.5
is_student=True

Declaring Variables

In [2]:
print("Age: ",age)
print("Height: ",height)
print("Name: ",name)
print("Is Student: ",is_student)

Age:  21
Height:  5.5
Name:  Student
Is Student:  True

Naming Conventions

In [3]:
first_name="John"
last_name="Doe"

In [4]:
@name="John"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3016879839.py, line 1)

Case Sensitivity

In [5]:
name="Sharvari"
Name="Sharvari"
name==Name

True

In [6]:
name="Sharvari"
Name="Hendre"
name==Name

False

Type Checking

In [7]:
age=21
print(type(age))

<class 'int'>

Type Conversion

In [8]:
age_str=str(age)
print(age_str)
print(type(age_str))

21
<class 'str'>

In [9]:
##Conversion of String to integer is not possible
age="Sharvari"
age_int=int(age)
print(age_int)

ValueError: invalid literal for int() with base 10: 'Sharvari'

Dynamic Typing

In [10]:
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

Input

In [11]:
age=input("Enter your age: ")
print("Age: ",age)

Age:  5

In [12]:
##Input with datatype declaration
age=int(input("Enter your age: "))
print("Age: ",age)

Age:  20

Simple Calculator

In [13]:
a=float(input("Enter first number: "))
b=float(input("Enter second number: "))
print("First number: ",a)
print("Second number: ",b)
sum=a+b
difference=a-b
multiplication=a*b
division=a/b

print("Sum: ",sum)
print("Difference: ",difference)
print("Multiplication: ",multiplication)
print("Division: ",division)

First number:  4.0
Second number:  2.0
Sum:  6.0
Difference:  2.0
Multiplication:  8.0
Division:  2.0